<h1>編集</h1>

<h3>商品の登録</h3>
<%= form_with model: @product do |form| %>
<div>
<%= form.label :"商品名" %><br>
<%= form.text_field :product_name, placeholder: '商品名' %>
</div>

<div>
<%= form.label :"価格" %><br>
<%= form.text_field :price, placeholder: '価格' %>
</div>

<div>
<%= form.label :"個数" %><br>
<%= form.text_field :stock, placeholder: '個数' %>
</div>

<div>
<%= form.label :"商品説明" %><br>
<%= form.text_area :comment, placeholder: '説明' %>
</div>

<div>
  <%= form.file_field :image, id:"product-image" %>
</div>

<%= form.submit %>
<% end %>