<h1>商品一覧</h1>
<%= link_to 'ログアウト',  destroy_user_session_path, method: :delete%>
<%= link_to '商品登録', new_product_path%>
<table>
<tr>
  <th>id</th>
  <th>商品名</th>
  <th>価格</th>
  <%# <th>個数</th>
  <th>商品説明</th>
  <th>商品詳細</th> %>
<tr>

<% @products.each do |product|  %>

<tr>
  <th><%= product.id %></th>
  <th><%=  link_to product.product_name,  product_path(product)%></th>
  <th><%= product.price %>円</th>
<!--  <th><%= product.stock %>個</th>
  <th><%= product.comment %></th>
  <th><%= link_to '詳細', product_path(product)%></th>  -->
<tr>
<% end %>

</table>