<h1>詳細</h1>
<p>
 商品名：<br>
<%= @product.product_name %>
</p>

<p>
価格：<br>
<%= @product.price %>
</p>

<p>
個数：<br>
<%= @product.stock %>
</p>

<p>
説明：<br>
<%= @product.comment %>
</p>

<%= link_to '削除', product_path(@product), method: :delete, data: {confirm: "削除しますか？"}%>